<div class="content-top">
  <div class="col-md-4 ">
      <div class="row">
          <ul class="breadcrumb">
              <li>
                  <a >Dashboard</a>
              </li>
              <li >Society Admin</li>
              <li >Edit Society Admin</li>
              <li class="active">Change Password</li>
          </ul>
          <h4 class="breadcrumb-title">Change Password</h4>
      </div>
  </div>
</div>
<div class="content-main">
  <div class="cnt radius">
      <!-- <div class="cnt-title-pink border-orange" *ngIf="!isNewSocietyAdmin">Change Password</div> -->
      <div class="cnt-from">
        <form name="changePwdForm" #changePwdForm="ngForm" >
          <div class="input-row">
              <div class="cnt-from-input">
                  <mat-form-field class="input-full-width">
                    <input type="password" name="password" [(ngModel)]="changePwdObj.password" matInput placeholder="New Password" value="" minlength="6" required />
                  </mat-form-field>
              </div>

              <div class="cnt-from-input">
                  <mat-form-field class="input-full-width">
                    <input type="password" name="re_password" [(ngModel)]="changePwdObj.re_password" matInput placeholder="Confirm Password" value="" minlength="6" required />
                  </mat-form-field>
              </div>
          </div>            
          <div class="input-row">
              <div class="input-full-width">
                  <button [disabled]="!changePwdForm.valid || (changePwdObj.password !== changePwdObj.re_password)" [ngClass]="{  'btn-gray': !changePwdForm.valid || (changePwdObj.password !== changePwdObj.re_password),  'btn-orange': changePwdForm.valid && (changePwdObj.password === changePwdObj.re_password) }" (click)="changePassword()" class="input-btn">Save</button>
                  <button type="button"  class="input-btn btn-white marign-rt10px" (click)="cancel()" > Cancel </button>
              </div>
          </div>
        </form>
      </div>
  </div>

</div>