<div class="content-top">
        <div class="col-md-4 ">
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="active">Residents</li>
                </ul>
                <h4 class="breadcrumb-title">Residents</h4>
            </div>
        </div>
    
        <div class="col-md-8 ">
            <div class="row">
                <div class="cnt-top-left-main">
                    <div class="cnt-search">
                        <!-- <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field> -->
                        <mat-form-field>
                            <input matInput [(ngModel)]="searchedTerm" (keyup)="applyFilter()" placeholder="Search">
                        </mat-form-field>
                    </div>
                    <div class="cnt-search-by">
                        <mat-form-field>
                            <mat-select name="searchBy" [(ngModel)]="searchBy" placeholder="Search By">
                                <mat-option [value]="'name'">Name</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                     <div class="cnt-top-btn">
                        <!-- <button class="content-top-btn bg-yellow">
                            <i class="glyphicon glyphicon-tasks"></i> Filter</button> -->
                    </div>
                    <!-- <input type="file" #data style="display:none" (change)="handleFileInput($event.target.files)"> -->
                    <!-- <div (click)="data.click()" class="cnt-top-btn"> -->
                    <div class="cnt-top-btn">
                        <!-- <button class="content-top-btn bg-skyblue">
                            <i class="glyphicon glyphicon-arrow-up"></i> Upload Excel File</button> -->
                    </div>
                    <div class="cnt-top-btn">
                        <!-- <button class="content-top-btn btn bg-green"  (click)="addEmployee()">
                            <i class="glyphicon glyphicon-plus"></i> Add Employee</button> -->
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="content-main">
        <div class="cnt radius resident-table">
                <div class="example-container mat-elevation-z8">
                    <!-- <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    </mat-form-field> -->
                    <div class="mat-table-main">
                      <mat-table #table [dataSource]="residents" class="mat-table">
          
                        <!-- Position Column -->
                        <!-- <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef style="min-width: 70px;">Actions</mat-header-cell>
                        </ng-container> -->
                        <ng-container *ngFor="let col of colDefs" [matColumnDef]="col.name">
                          <mat-header-cell *matHeaderCellDef class="mat-header-song" [ngStyle]="{'min-width': col.width}"> {{col.displayName | uppercase}}
                            </mat-header-cell>
                          <mat-cell *matCellDef="let element" [ngStyle]="{'min-width': col.width}" innerHTML="{{(col.displayFcn) ? col.displayFcn(element):element[col.name]}}">
                          </mat-cell>
                        </ng-container>
          
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </div>
                    <!--mat-table-main-->
                    <mat-paginator #paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true">
                    </mat-paginator>
                  </div>

        </div>
    
    </div>